{% extends "base_site.html" %}

{% block content %}
{% autoescape off %}

<p><b>User:</b> {{user}}</p>
<p><b>Category:</b> {{question.category}}</p>
<p><b>Subcategory:</b> {{question.sub_category}}</p>

<p><b>Instructions:</b> {{question.instructions}}</p>
<p><b>Question:</b> {{question.question}}</p>

<form method="POST" action="">{% csrf_token %}

<input type="hidden" name="question" value="{{question.id}}">
<input type="hidden" name="user" value="{{user.id}}">

<input type='submit' name='answer' class="btn btn-primary" value='A'>
&nbsp;&nbsp;
<p style="display:inline-block">{{question.answer_A}}</p></li>
</input>
<br>

<input type='submit' name='answer' class="btn btn-primary" value='B'>
&nbsp;&nbsp;
<p style="display:inline-block">{{question.answer_B}}</p></li>
</input>
<br>

<input type='submit' name='answer' class="btn btn-primary" value='C'>
&nbsp;&nbsp;
<p style="display:inline-block">{{question.answer_C}}</p></li>
</input>
<br>

<input type='submit' name='answer' class="btn btn-primary" value='D'>
&nbsp;&nbsp;
<p style="display:inline-block">{{question.answer_D}}</p></li>
</input>
<br>

<input type='submit' name='answer' class="btn btn-primary" value='E'>
&nbsp;&nbsp;
<p style="display:inline-block">{{question.answer_E}}</p></li>
</input>
</br>

</form>

{% endautoescape %}
{% endblock %}